a{
text-decoration: none;
}

.size {
min-width: 2rem;
}

body{
min-height: 100vh;
background-image:
linear-gradient(
    to bottom,
    transparent 0,
    transparent 20px,
    rgba(207, 0, 15, 0.35) 20px,
    rgba(207, 0, 15, 0.35) 40px
    ),
linear-gradient(
    to right,
    transparent 0,
    transparent 20px,
    rgba(207, 0, 15, 0.35) 20px,
    rgba(207, 0, 15, 0.35) 40px
    );
background-size: 40px 40px;
}

.active {
   background:
     linear-gradient(
       to left,
       red 0,
       red 33.3%,
       white 33.3%,
       white 66.6%,
       green 66.6%,
       green )bottom no-repeat;
   background-size:100% 3px ;
}

.logo {
width: 50px;
}

.plate {
border-radius: 50%;
border: 1px solid gold;
}

.index-prev-img {
width: 5rem;
}

.border-text {
text-shadow:1px 1px black;
border-bottom: 1px solid black;
}

//debug
//pattern per nav {
background-image: url(/public/pizza-pattern-nav.jpg);
 background-size: cover;
}