<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- FRAGMENTS -->
    <th:block th:replace="~{/fragments/head :: head}"></th:block>


    <title>Index</title>
</head>
<body>
<nav th:replace="~{/fragments/navbar :: nav(currentPage = 'index')}"></nav>

<div class="container">
    <h1 class="text-center">Pizzas Menu 🍕</h1>

    <form th:action="@{/pizzas}" method="GET">
        <div class="input-group">
            <input class="form-control me-2" type="search" placeholder="Search by pizza's name" name="keyword"
                   th:value="${searchedInput}">
            <button class="btn btn-success" type="submit">
                <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                🍕
            </button>
        </div>
    </form>
    <table class="table table-dark table-striped">
        <thead>
        <tr class="table-dark">
            <th>ID</th>
            <th>Preview</th>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzaList}" class="table-dark">
            <td th:text="${pizza.id}"></td>
            <td>
                <img th:src="${pizza.urlPic}" class="plate index-prev-img" alt="pizza">
            </td>
            <td th:text="${pizza.name}"></td>
            <td th:text="${pizza.description}"></td>
            <td th:text="${pizza.price}"></td>
            <td>
                <a th:href="@{|/pizzas/${pizza.id}|}" class="btn btn-warning mt-5">
                    <i class="fa-solid fa-pizza-slice"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- <div class="row" th:if="${pizzaList.size() > 0}">
        <div class="col-md-3 mb-5" th:each="pizza : ${pizzaList}">
            <div class="card" style="height: 30rem; background-color: #b8bbb6;">
                <img th:src="${pizza.urlPic}" class="card-img-top p-3 plate" alt="pizza" style="height: 13rem;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${pizza.name}"></h5>
                    <p class="card-text" th:text="${pizza.description}" style="height: 5rem;"></p>
                    <a th:href="@{|/pizzas/${pizza.id}|}" class="btn btn-warning mt-5">See details</a>
                </div>
            </div>
        </div>
        <div class="text-danger text-center" th:if="${pizzaList.isEmpty()}">
            The 🍕 list is empty 🤷‍
        </div>
    </div>-->
    <!-- Controllo per vedere se il controllo funziona -->
    <!-- <div class="text-danger text-center" th:if="${!pizzaList.isEmpty()}">The 🍕 list is empty 🤷‍♀️</div> -->
</div>
</body>
</html>