<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- FRAGMENTS -->
    <th:block th:replace="/fragments/head :: head"></th:block>

    <title>Show</title>
</head>
<body>
<nav th:insert="~{/fragments/navbar :: nav(currentPage = 'show')}"></nav>
<div class="container mt-5"  th:object="${pizza}"> <!--  style="border:3px solid black" -->
    <div class="d-flex justify-content-center">
        <div>
            <div class="card text-bg-light img-fluid w-75 text-center">
                <img th:src="@{/pizza-logo-white.jpg}" class="card-img mt-5" alt="...">
                <div class="card-img-overlay">
                    <h3 class="card-title" th:text="*{name}"></h3>
                    <h2 class="card-text mt-3" th:text="*{description}"></h2>
                    <p class="card-text my-5" th:text="*{price}"><small></small></p>
                    <div class="text-center">
                        <a th:href="@{/pizzas}" class="btn btn-danger mt-1">Back to List</a>
                    </div>
                </div>

            </div>
            <!--  <div class="card mt-5 w-75 text-bg-dark border-warning">
                 <h3 class="card-header text-center text-bg-warning" th:text="${pizza.name}"></h3>
                 <div class="card-body mt-2">
                     <p>Ingredients:</p>
                     <p class="card-text" th:text="${pizza.description}"></p>
                     <div class="d-flex justify-content-between">
                         <span class="card-text" th:text="${pizza.id}"></span>
                         <span class="card-text" th:text="${pizza.price}"></span>
                     </div>
                     <div class="text-center">
                         <a th:href="@{/pizzas}" class="btn btn-outline-warning mt-5">Back to List</a>
                     </div>
                 </div>
             </div>-->
        </div>
        <img th:src="*{urlPic}" class="plate" alt="pizza">
    </div>
    <div class="col-4">
        <h3>ingredients</h3>
        <ul th:if="*{ingredients.size() > 0}">
            <li th:each="ingredient : *{ingredients}" th:text="${ingredient.name}"></li>
        </ul>
        <div th:unless="*{ingredients.size() > 0}" class="alert alert-info">No ingredients</div>
    </div>
</div>

<!-- OFFERS -->
<div class="my-3">
    <a th:href="@{/offers/create(pizzaId=${pizza.id})}" class="btn btn-warning">Create a new offer</a>
</div>
<table class="table" th:if="${pizza.offers.size() > 0}"> <!-- offers field in Pizza -->
    <thead>
    <tr>
        <th>Offer Name</th>
        <th>Starting date</th>
        <th>Expiry date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="text-bg-success">

    <tr th:each="offer : ${pizza.offers}" th:object="${offer}">
        <td th:text="*{title}"></td>
        <td th:text="*{#temporals.format(startDate, 'dd/MM/yyyy')}"></td>
        <td th:text="*{#temporals.format(endDate, 'dd/MM/yyyy')}"></td>
        <td>
            <a class="btn btn-primary mx-2" th:href="@{|/offers/edit/*{id}|}">Edit</a>
            <form
                    th:action="@{|/offers/delete/*{id}|}"
                    method="post"
                    class="d-inline-block"
            >
                <button class="btn btn-danger mx-2" type="submit"><i class="fa-solid fa-trash-can"></i>
                </button>
            </form>
        </td>
        </td>
    </tr>
    </tbody>
</table>
<div class="alert alert-info" th:unless="${pizza.offers.size() > 0}">
    No offers available!
</div>
</div>

</body>
</html>