<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- FRAGMENTS -->
    <th:block th:replace="/fragments/head :: head"></th:block>

    <title>Show</title>
</head>
<body>
<nav th:insert="~{/fragments/navbar :: nav(currentPage = 'show')}"></nav>
<div class="container">
    <h1 class="text-center">Pizza Detail 🍕</h1>
    <hr>

    <h1 th:text="${pizza.name}"></h1>
    <h3 th:text="${pizza.description}"></h3>
    <img th:src="${pizza.urlPic}" class="plate" alt="pizza">
    <div>
        <a th:href="@{/pizzas}" class="btn btn-danger mt-5">Back to List</a>
    </div>

</div>
</body>
</html>